@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,500&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


body {
  background: #fcfcff;
  color: #111111;

  font-family: 'Poppins', sans-serif;
  /* font-size: 1.1rem; */

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8rem;

  width: 80%;
  max-width: 60rem;

  line-height: 1.6;

  --para-spacing: 1.4rem;
  --red: #FF4136;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Patua One', serif;
  font-weight: 400;
  letter-spacing: 0.06rem;
}

h1 {
  font-size: 5.2rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: var(--para-spacing);
}

h3 {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: calc(var(--para-spacing)/2);
  line-height: 1.3;
}

h2+h3 {
  margin-top: var(--para-spacing);
}

p {
  margin-top: var(--para-spacing);
  margin-bottom: 0;
}

.almost {
  color: rgba(255,133,27,0.5);
}

code.error {
  color: var(--red);
  text-decoration-color: #FF851B;
  text-decoration: underline;
  text-decoration-line: solid;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.2rem;
}

code.path {
  background: rgba(17,17,17, 0.9);
  color: #01FF70;
  font-family: 'Source Code Pro', monospace;
  /* font-size: 1rem; */
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  border-radius: 0.3em;
}

code.url {
  color: #0074D9;
  text-decoration-color: #7FDBFF;
  text-decoration: underline;
  text-decoration-line: solid;
  text-decoration-thickness: 0.12rem;
  text-underline-offset: 0.2rem;
}

code {
  font-family: inherit;
  font-weight: 500;
}

ol ul {
  margin-top: var(--para-spacing);
}

ol {
  margin-bottom: 0;
}

ul {
  margin: 0;
}

li {
  margin-bottom: var(--para-spacing);
}

.placeholder {
  font-family: 'Pacifico', cursive;
  letter-spacing: 0.15rem;
  opacity: 0.8;
}

.sitestack {
  font-weight: bold;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: calc(var(--para-spacing)*3);
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.label {
  font-weight: bold;
}

h3+p {
  margin-top: calc(var(--para-spacing)/2);
}

@media (min-width: 800px) {
  .columns {
    column-count: 2;
    column-width: 50%;
    column-gap: 4rem;
    padding: 0;
  }

  .columns > * {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .column-break {
    break-after: column;
  }

  .columns h3:first-child,
  .column-break+h3 {
    margin-top: 0;
  }
}
